body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  background-color: #e6dada;
  padding: 20px;
  margin: 20px;
  
}
.NewUser{
  text-align: center;
}
input{
  width: 200px;
  height: 25px;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #bfd9e9;
}
.btn {
  width: 85px;
  height: 44px;
  border-radius: 20px;
  border: none;
  background-color: #f1e59d;
}
.delete-btn{
  width: 85px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #f1e59d;
}
.users{
  padding: 1rem;
  display: grid;
  gap: 2rem;
  text-align: center;
  margin: 10px;
 
}

  @media screen and (min-width:768px) {
    .users{
      grid-template-columns: auto auto;
    }
  }
  @media screen and (min-width:992px) {
    .users{
      grid-template-columns: auto auto auto;
    }
  }
  

.user{
  background-color: #e9c1c1;
  padding: 20px;
  border-radius: 20px;
}

.footer{
  text-align: center;
  padding: 1px 0px;
  margin: 200px 20px 10px;
  background-color: #d7ddc8;
}